/* Empty. Add your own CSS if you like */

.box{
    width: 320px;
    height: 568px;
    max-width: 100%;
}

.blue{
    background:url('/img/bg1.png') no-repeat;
   
}

.red{
    background:url(/img/bg2.png) no-repeat;
  
}
.orange{
    background:url(/img/bg3.png) no-repeat;


}
.front{
    background:url(/img/bg.png) no-repeat;
}